.git
.env
.keychain
.aws
.vscode
.next
.venv
.editorconfig
scripts
node_modules
**/.gitignore
**/.prettierrc
**/.eslintrc.js
**/*.log
**/.venv
**/venv
**/node_modules
**/coverage
**/dist
**/__pycache__
