# Server Config
PORT= # server port
SERVER_WORKDIR= # server workdir used in Dockerfile

# Client Config
CLIENT_PORT= # client port
CLIENT_WORKDIR= # client workdir used in Dockerfile
CLIENT_ADDRESSES= # a comma separated list of known client address that communicate with this server

# Database Config
POSTGRES_PORT= # postgres port
POSTGRES_USER= # postgres user
POSTGRES_PASSWORD= # postgres password


# Google OAuth 2.0
GOOGLE_ID= # The google client id for the oauth app
GOOGLE_SECRET= # The google client secret for the oauth app
