:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
    'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3));
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.Toastify-container--customized {
  min-width: fit-content;
  width: 100%;
}

@media (min-width: 640px) {
  .Toastify-container--customized {
    min-width: 350px;
    width: fit-content;
    max-width: var(--chakra-sizes-container-sm);
  }
}

.Toastify-container--customized > .Toastify__toast {
  --toastify-toast-min-height: 2.5rem;
  --toastify-customized-toast-max-width: 350px;
  padding: 0;
  box-shadow: var(--chakra-shadows-lg);
  color: var(--chakra-colors-chakra-body-text);
  border-radius: var(--chakra-radii-md);
  background: transparent;
  max-width: var(--toastify-customized-toast-max-width);
  margin-inline: auto;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    border-radius: 0;
  }

  .Toastify__toast:nth-of-type(1) {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .Toastify__toast:nth-last-of-type(1) {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.Toastify-container--customized > .Toastify__toast > .Toastify__toast-body {
  padding: 0;
}
