SERVER_BASE_URL= # The base address where the server is located
PORT= # the application port
GOOGLE_ID= # Google OAuth Client ID
GOOGLE_SECRET= # Google OAuth Client Secret
NEXTAUTH_URL= # the app base url
NEXTAUTH_SECRET= # bytes of random secret required by NextAuth to run smoothly
