openai==0.27.8
fastapi==0.101.0
uvicorn[standard]==0.23.2
python-decouple==3.8
python-dotenv==1.0.0
SQLAlchemy==2.0.19
pytz==2023.3
alembic==1.11.2
psycopg2==2.9.7
pydantic[email]==2.1.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pydantic-settings==2.0.3
